

<div class="container mt-20">
  <div class="card">
    <div class="card-body">
      <strong>Name:</strong>
      <%= @cocktail.name %>
      <% @cocktail.doses.each do |dose| %>
        <%= "#{dose.description} - #{dose.ingredient.name}"  %>
      <% end %>
      <p>
        <%= link_to 'Add a Dose', new_cocktail_dose_path(@cocktail) %>
      </p>
    </div>
  </div>
  <%= link_to 'Back', cocktails_path, class: 'btn btn-success mt-2' %>
</div>